* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: black;
  color: white;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
h2,
h4 {
  margin: 10px;
}

#btn_buscar {
  background: chartreuse;
  width: 7rem;
  height: 1.5rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
